In [1]:
import pandas as pd

In [2]:
student = {'first_name': ['alter','shirin','qiqi','ozge','hisam'],
           'last_name':['gudu','mony','tai','bisgin','gudu'],
           'email':['alter_gudu12@gmail.com','shirinmony@gmail.com','qiqi34@yahoo.com','bisginozge@gmail.com','hismgudu@gmail.com'],
           'matri. num':['10243','50678','76545','32145','67856']}

In [5]:
student_df= pd.DataFrame(student)
student_df

  first_name last_name                   email matri. num
0      alter      gudu  alter_gudu12@gmail.com      10243
1     shirin      mony    shirinmony@gmail.com      50678
2       qiqi       tai        qiqi34@yahoo.com      76545
3       ozge    bisgin    bisginozge@gmail.com      32145
4      hisam      gudu      hismgudu@gmail.com      67856

Setting index to on a specific column with unique values for every rows

In [ ]:
student_df.set_index('email') #here email has unique values for every single rows that is why 'email' has been chosen 
student_df.set_index('email', inplace=True) #when we will use inplace=True, 'email' column will be index of the entire dataset
                                            #there will be no more default integer index in the entire dataset. However, with 'iloc' funcion we can get the values using default integer index

In [17]:
student_df.loc['shirinmony@gmail.com'] #all details about shirin mony 
#OR 
student_df.iloc[1] #with iloc funcion we can get the values using default integer index
#student_df.loc['shirinmony@gmail.com','matri. num']# looking for only matriculation number

'50678'

How to reset the default integer index for entire dataset

In [19]:
student_df.reset_index(inplace=True)
student_df

                    email first_name last_name matri. num
0  alter_gudu12@gmail.com      alter      gudu      10243
1    shirinmony@gmail.com     shirin      mony      50678
2        qiqi34@yahoo.com       qiqi       tai      76545
3    bisginozge@gmail.com       ozge    bisgin      32145
4      hismgudu@gmail.com      hisam      gudu      67856

Changing the default integer index to a specific column index with unique values during loading the real world dataset

In [26]:
ds= pd.read_csv('D:\Data Analysis Project\survey_data\survey_results_public.csv', index_col='ResponseId')
schema_ds= pd.read_csv('D:\Data Analysis Project\survey_data\survey_results_schema.csv', index_col='qname')

In [35]:
pd.set_option('display.max_columns',80)
pd.set_option('display.max_rows',80)

In [ ]:
schema_ds.sort_index(ascending=False)

In [37]:
schema_ds.sort_index(inplace=True) #to have the index permanently on dataset

In [32]:
schema_ds.loc['SOVisitFreq', 'question'] # exploring the information based on the attribure level using column index

'How frequently would you say you visit Stack Overflow?'